/* Global */

:root {
    /* Color */
    --color:rgb(180, 169, 169);
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
   /* size */
   --size-border-radius:4px;
}
  /* Typography */
  

/*section common*/
.section{
    text-align: center;
    padding:100px;
    max-width: 1200px;
}

  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }


.workout__icon{
 color:rgb(180, 169, 169);
}
.programming__icon{
 color:rgb(180, 169, 169);
}

body{
    margin:0; 
    cursor:default;
    color:gray;
    height: 100%;
}

a{
    text-decoration: none;
    color:black;
}
ul{
    list-style: none;
    padding-left: 0;
}

/* Navbar */
#navbar {
display :flex;
justify-content: space-between;
background-color: rgb(248, 248, 248);
color:black;
align-items : center;
padding: 16px;
}
.navbar__logo{
    font-size:var(--font-medium);
    font-weight:var(--weight-semi-bold);
    top:
}
.navbar__menu{
    display: flex;
    
}

.navbar__menu__item{
    padding: 8px 16px;
    margin:0 4px;
    cursor:pointer;
    border-radius :var(--size-border-radius);
}

.navbar__menu__item:hover{
 background-color: rgb(145, 143, 143);
 border-radius: var(--size-border-radius);
 
}

.navbar__menu__item.active{
 border:1px solid white;
}

#home{
    background-image: url("imgs/home:bg.png") ;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    text-align: center;
}

.home__imgs{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.home__title,
.home__description{
    color:rgb(110, 108, 108);
}

.target__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.majors__icon{
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size:80px;
    margin: auto;
    border:1px solid var(--color-dark-white);
    border-radius: 50%;
    margin-bottom: 16px;
    color:skyblue;
}
.majors__icon:hover i{
    color:darkgray;
    transform:rotate(-30deg) scale(1.2);
    transition: all 300ms ease;
}

.majors__list h3,
.list__title h4{
    color: darkgray
}

.list__description{
    color:blue;
}

.section__work{
  background-color: rgb(255, 255, 231);
  padding: 80px;
  max-width: 100%;
}
.workout__text{
    color: var(--color-light-white);
}
.workoutset{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    color: var(--color-light-white);
}

.workoutset__left{
    flex-basis: 60%;
   background-color:rgb(73, 73, 73);
    padding: 20px 40px;
    min-width: 250px;

}
.workoutset__rigth{
    flex-basis: 40%;
    background-color:grey;
    padding: 20px 40px;
    min-width: 250px;
}
.quater{
    margin-bottom: 20px;
}
.quater__description{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.quater__bar{
    width: 100%;
    height: 3px;
    background-color: grey;
    
}

.quater__value{
    height: 3px;
    background-color: var(--color-orange);
}
.Explanation p{
    color: var(--color-light-white);
    padding: 15px;
    font: var(--weight-semi-bold);
}

.workoutset__title{ 
    color: white;
}

.section__good{
    background-color:white;
    max-width: 100%;
}

.writing__home{
    display: flex;
    padding: 12px;
}
.good-writing__speech{
    background-color: lightgray;
    border-radius: var(--size-border-radius);
    width: 100%;
}
.good-writing__speech p{
    margin-top: 20px;
    font: var(--weight-semi-bold);
}
.writing__icon{
    border-radius: 50%;
    margin: 16px;
}

.name{
    margin-left: 450px;
    color: white;
}